body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f9fa;
}

nav,
ul li {
  display: inline;
  color: #fff;
  padding: 15px;
}

.logo {
  color: rgb(189, 216, 240);
  margin-left: 30px;
  font-size: 1.5em;
  font-weight: bold;
}

.nav-list {
  list-style: none;
  margin: -15px 0 0 700px;
}

.nav-list li {
  margin: 0 15px;
}

.nav-list a {
  text-decoration: none;
  color: #005580;
  font-weight: bold;
}

header {
  text-align: center;
  padding: 20px;
}

.about-section,
.skills-section,
.projects-section,
.contact-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

h2 {
  color: #005580;
}

ul {
  list-style: none;
  padding: 0;
}

.about-me {
  color: #756e6e;
  font-size: 20px;
  font-weight: 900;
  margin: 0 200px;
}

.nav-list li a {
  margin-bottom: 10px;
  transition: all 0.3s;
}

.nav-list li a:hover {
  padding: 20px;
  font-style: italic;
  font-size: 20px;
  background-color: #fff;

  color: #0077cc;
  border-radius: 10px;
}

section {
  text-align: center;
}

h2 {
  font-size: 50px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  transition: margin-bottom 0.3s;
}

.skill a {
  background-color: #005580;
  color: #fff;
  font-weight: 900;
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
}

.skill a:hover {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #005580;

  padding: 20px;
}

iframe {
  margin: 150px 0 10% 0;
  width: 80%;
  height: 500px;
  border: none;
  border-radius: 20px;
}

.project-item {
  color: #005580;
  font-weight: 800;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 50px;
  padding: 10px;

  transition: all 0.3s;
}

.project-cont {
  margin-bottom: 100px;
}

.project-item:hover {
  background-color: #005580;
  color: #fff;
}
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
}

.contact-form label,
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.contact-form input[type="submit"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

footer {
  text-align: center;
  padding: 5px;
  background-color: #333;
  color: #fff;
}

.footer-button {
  color: #0077cc;
  text-decoration: none;
}

.footer-button:hover {
  text-decoration: underline;
}

/* contact.html style */
.contact-list {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.contact-list h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.contact-list p {
  margin-bottom: 10px;
  font-size: 1.1em;
  color: #555;
}

.contact-list a {
  text-decoration: none;
  color: #0077cc; /* LinkedIn and GitHub blue color */
}

.contact-list a:hover {
  text-decoration: underline;
}

.contact-list button {
  padding: 10px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.contact-list button:hover {
  background-color: #005580;
}

.contact-list button a {
  color: #fff;
  text-decoration: none;
}

.contact-list button a:hover {
  text-decoration: none;
  color: #fff;
}

/* work.html section */
.work-details {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.work-details h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.work-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.work-details li {
  margin-bottom: 10px;
  font-size: 1.1em;
  color: #555;
}

.work-details iframe {
  width: 100%;
  height: 315px;
  margin-top: 20px;
}

iframe {
  margin-left: 5px;
}

.work-button {
  padding: 10px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;

  transition: background-color 0.3s;
}

.work-button:hover {
  background-color: #005580;
}

/* resume.html */
.resume-button {
  color: #fff;
  background-color: #0077cc;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.5s;
}

.resume-button:hover {
  background-color: #005580;
}
